
/*
360px
416px
458px
528px
672px
728px
784px
840px
1008px
1200px
1920px*/

@media screen and (min-width: 336px) {
  .Main {
    width: 100vw;
    left: 0px;
  }
}

@media screen and (min-width: 528px) {
  .Main {
    width: calc(100vw - 200px);
    left: 200px;
  }
}

@media (min-width: 584px) {
  .Main {
    width: calc(100vw - 200px);
    left: 200px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.3rem;
  font-weight: 300; }
h1 { font-size: 2.4rem; line-height: 0.9;  letter-spacing: -.1rem;}
h2 { font-size: 1.6rem; line-height: 0.9; letter-spacing: -.08rem; }
h3 { font-size: 1.2rem; line-height: 1.0;  letter-spacing: -.05rem; }
h4 { font-size: 1.0rem; line-height: 1.1; letter-spacing: 0rem; }
h5 { font-size: 0.8rem; line-height: 1.2;  letter-spacing: 0.05rem; }
h6 { font-size: 0.6rem; line-height: 1.2;  letter-spacing: 0.08rem; }

/* Material Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
