/*.logo {
  animation: logo-spin infinite 20s linear;
  height: 56px;
  padding: 4px;
  margin-left: calc(50% - 236px);
}

.hbbk-logo {
  position: relative;
  display: inline-block;
  float: right;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
