.Login {
  background-image: url('/bg.webp');
  height: calc(100vh - 64px);
}

.Login .login-area {
  position: relative;
  width: 294px;
  height: 180px;
  padding: 12px 8px;
  margin: auto auto;
  top: calc(50% - (180px / 2));
  background-color: white;
}

.Login .InputField {
  margin-right: 12px;
}

.Login .login-btn {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 99px;
  padding: 5px;
  border-radius: 5px;
  background-color: #124454;
  color: white;
  width: 96px;
}

.Login .login-btn:hover, .Login .login-btn:focus {
  background-color: white;
  color: #124454;
  border: 1px solid #124454;
  cursor: pointer;
}
