@media screen and (min-width: 336px) {
  .MonthView table {
    width: 100vw;
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 528px) {
  .MonthView table {
    width: calc(7 * 48px);
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 528px) {
  .MonthView table {
    width: calc(7 * 48px)
  }
}

@media (min-width: 584px) {
  .MonthView table {
    width: calc(7 * 56px);
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 56px;
    height: 56px;
  }
}

/*@media (min-width: 640px) {
  .MonthView table {
    width: calc(7 * 64px);
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 752px) {
  .MonthView table {
    width: calc(7 * 80px);
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 864px) {
  .MonthView table {
    width: calc(7 * 96px);
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 96px;
    height: 96px;
  }
}*/


@media screen and (min-width: 360px) {
  .MonthView table {
    width: calc(7 * 40px)
  }
  .MonthView table tbody tr td {
    width: 40px;
    height: 40px;
  }
  .MonthView {
    left: 0px;
  }
}

/* Larger than mobile */
@media screen and (min-width: 416px) {
  .MonthView table {
    width: calc(7 * 48px)
  }
  .MonthView table tbody tr td {
    width: 48px;
    height: 48px;
  }
  .MonthView {
    left: 0px;
  }
}

@media screen and (min-width: 458px) {
  .MonthView table {
    width: calc(7 * 56px)
  }
  .MonthView table tbody tr td {
    width: 56px;
    height: 56px;
  }
  .MonthView {
    left: 0px;
  }
}

/* Larger than phablet */
@media screen and (min-width: 528px) {
  .MonthView table {
    width: calc(7 * 64px)
  }
  .MonthView table tbody tr td {
    width: 64px;
    height: 64px;
  }
  .MonthView {
    left: 0px;
  }
}

@media screen and (min-width: 672px) {
  .MonthView table {
    width: calc(7 * 56px)
  }
  .MonthView table tbody tr td {
    width: 64px;
    height: 64px;
  }
  .MonthView {
    left: 200px;
  }
}

/* Larger than tablet */
@media screen and (min-width: 728px) {
  .MonthView table {
    width: calc(7 * 64px)
  }
  .MonthView table tbody tr td {
    width: 64px;
    height: 64px;
  }
  .MonthView {
    left: 200px;
  }
}

@media screen and (min-width: 784px) {
  .MonthView table {
    width: calc(7 * 72px)
  }
  .MonthView table tbody tr td {
    width: 72px;
    height: 72px;
  }
  .MonthView {
    left: 200px;
  }
}

@media screen and (min-width: 840px) {
  .MonthView table {
    width: calc(7 * 80px)
  }
  .MonthView table tbody tr td {
    width: 80px;
    height: 80px;
  }
  .MonthView {
    left: 200px;
  }
}

/* Larger than desktop */
@media screen and (min-width: 1008px) {
  .MonthView table {
    width: calc(7 * 108px)
  }
  .MonthView table tbody tr td {
    width: 108px;
    height: 108px;
  }
  .MonthView {
    left: 200px;
  }
}

/* Larger than Desktop HD */
@media screen and (min-width: 1200px) {
  .MonthView table {
    width: calc(7 * 108px);
  }
  .MonthView table tbody tr td {
    width: 108px;
    height: 108px;
  }
  .MonthView {
    left: 200px;
  }
}

@media screen and (min-width: 1920px) {
  .MonthView table {
    width: calc(7 * 108px);
  }
  .MonthView table tbody tr td {
    width: 108px;
    height: 108px;
  }
  .MonthView {
    left: 200px;
  }
}
