/*
@media screen and (min-width: 336px) {
  .SideBar {
    display: none;
  }
}

@media screen and (min-width: 528px) {
  .SideBar {
    display: inherit;
  }
}

@media (min-width: 584px) {
  .SideBar {
    display: inherit;
  }
}*/


@media screen and (min-width: 360px) {
  .SideBar {
    display: none;
  }
}

@media screen and (min-width: 416px) {
  .SideBar {
    display: none;
  }
}

@media screen and (min-width: 458px) {
  .SideBar {
    display: none;
  }
}

@media screen and (min-width: 528px) {
  .SideBar {
    display: none;
  }
}

@media screen and (min-width: 672px) {
  .SideBar {
    display: inherit;
  }
}

@media screen and (min-width: 728px) {
  .SideBar {
    display: inherit;
  }
}

@media screen and (min-width: 784px) {
  .SideBar {
    display: inherit;
  }
}

@media screen and (min-width: 840px) {
  .SideBar {
    display: inherit;
  }
}

@media screen and (min-width: 1008px) {
  .SideBar {
    display: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .SideBar {
    display: inherit;
  }
}

@media screen and (min-width: 1920px) {
  .SideBar {
    display: inherit;
  }
}
