/*.theme_dark hr {
  border-top: 1px solid #dedede;
}*/

/* MonthView.css */

/*.theme_dark .MonthView table tbody tr td {
  border-color: #252525;
}

.theme_dark .MonthView table tbody tr td:hover, .MonthView table tbody tr td:focus {
  background-color: #D81B60;
}

.theme_dark .MonthView table tbody tr td.empty:hover {
  background-color: #000;
}

.theme_dark .MonthView .btn-container .btn {
  color: #fff;
  background-color: hsla(338, 78%, 48%, 1);
}

.theme_dark .MonthView .btn-container .btn:hover, .MonthView .btn-container .btn:focus {
  background-color: hsla(338, 78%, 38%, 1);
}*/
