@media screen and (min-width: 336px) {
  .week-view table {
    width: 100vw;
  }
  .week-view table tbody tr td, .week-view table tbody tr td {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 528px) {
  .week-view table {
    width: calc(7 * 48px);
  }
  .week-view table tbody tr td, .week-view table tbody tr td {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 528px) {
  .week-view table {
    width: calc(7 * 48px)
  }
}

@media (min-width: 584px) {
  .week-view table {
    width: calc(7 * 56px);
  }
  .week-view table tbody tr td, .week-view table tbody tr td {
    width: 56px;
    height: 56px;
  }
}

@media (min-width: 640px) {
  .week-view table {
    width: calc(7 * 64px);
  }
  .week-view table tbody tr td, .week-view table tbody tr td {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 752px) {
  .week-view table {
    width: calc(7 * 80px);
  }
  .week-view table tbody tr td, .week-view table tbody tr td {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 864px) {
  .week-view table {
    width: calc(7 * 96px);
  }
  .week-view table tbody tr td, .week-view table tbody tr td {
    width: 96px;
    height: 96px;
  }
}
